*{
    margin: 0;
    padding: 0;
}

/* 按钮动画效果 */
.wave {
    position: absolute;
    top: calc(80% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 28px;
}

.wave .circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
}
.wave.solid .circle{
    width: 100%;
    height: 100%;
    background: #fff;
}

.wave.solid .circle:first-child {
    animation: circle-opacity 2s infinite;
}

.wave.solid.danger {
    color: red;
}

.wave.solid.danger .circle{
    background: red;
}

.wave.solid.warning {
    color: orange;
}

.wave.solid.warning .circle{
    background: orange;
}

@keyframes circle-opacity{
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}


/* 容器布局 */

/*#header{
	position: absolute;
    top: 5%;
    right: 5%;
    height: 10%;
    width: 90%;
}
#header input:nth-of-type(1){
	height: 50%;
	float: left;
}
#header input:nth-of-type(2){
	height: 50%;
	float: right;
}*/

.daterange{
    position: absolute;
    top: 5%;
    right: 0%;
    height: 10%;
    width: 100%;
}
.daterange input{
	width: 70%;
	height: 50%;
	margin: 3% 15%;
		
	border: #EC971F solid 1px;
	font-size: 14px;
	border-radius: 5px;
	text-align: center;
}


#recorder{
    position: absolute;
    top: 15%;
    right: 15%;
    height: 50%;
    width: 70%;
    background-color: rgba(253,164,41,0.5);
    border-radius: 10px;
    overflow: scroll;
}
#recorder ul li{
    height: 48px;
    line-height: 48px;
    text-align: center;
    list-style: none;
    font-size: 14px;
    color: white;
}

#copyright{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: lemonchiffon;
}